---
import { Icon } from "astro-icon/components";
---

<div class="mr-2">
	<Icon
		onclick="setLightMode()"
		class="text-[25px] cursor-pointer"
		name="mdi:white-balance-sunny"
		id="light-icon"
		style="display: none;"
	/>
	<Icon
		onclick="setDarkMode()"
		class="text-[25px] cursor-pointer"
		name="mdi:weather-night"
		id="dark-icon"
		style="display: none;"
	/>
</div>

<script is:inline>
	function setLightMode() {
		document.documentElement.classList.remove("dark");
		localStorage.setItem("theme", "light");
		toggleIcons("light");
	}

	function setDarkMode() {
		document.documentElement.classList.add("dark");
		localStorage.setItem("theme", "dark");
		toggleIcons("dark");
	}

	function toggleIcons(theme) {
		const lightIcon = document.getElementById("light-icon");
		const darkIcon = document.getElementById("dark-icon");
		if (theme === "light") {
			lightIcon.style.display = "none";
			darkIcon.style.display = "inline";
		} else {
			lightIcon.style.display = "inline";
			darkIcon.style.display = "none";
		}
	}

	const theme = (() => {
		if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
			return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			return "dark";
		}
		return "light";
	})();

	if (theme === "light") {
		document.documentElement.classList.remove("dark");
	} else {
		document.documentElement.classList.add("dark");
	}

	window.localStorage.setItem("theme", theme);
	toggleIcons(theme);
</script>
